<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Group Chat</title>
    <link rel="stylesheet" href="/css/stylesheet2.css" media="screen" title="no title" charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script type="text/javascript">
      $(document).ready(function (){
        entername();
        var socket = io.connect();

        function entername(){
          var person = prompt('Hello! Please enter your name.');
          if(person != null && person != ''){
            window.name = person;
            document.getElementById('user').innerHTML = 'You are logged in ' + person;
          }else{
            checkname();
          }
        }
        function checkname(){
          person = prompt('Your name is required!');
          if(person != null && person != ''){
            window.name = person;
            document.getElementById('user').innerHTML = 'You are logged in ' + person;
          }else{
            checkname();
          }
        }

        socket.on('user_login', function(data){
          $('#new_user').html('<h4>'+JSON.stringify(data.response)+' just joined the chat!</h4>');
          $('#new_user').fadeIn(function(){
            setTimeout(function(){
              $('#new_user').fadeOut();
            }, 2000);
          })
        })
        socket.on('cleared', function(data){
          $('#new_user').html('<h4>'+JSON.stringify(data.response)+' just cleared out the chat.</h4>');
          $('#new_user').fadeIn(function(){
            setTimeout(function(){
              $('#new_user').fadeOut();
            }, 2000);
          });
        })
        socket.emit('new_user',{name:window.name});
        socket.on('history', function(data){
          if(data != null){
            for (var i = 0; i < data.response.length; i++) {
              var string2 = JSON.stringify(data.response[i]);
              string2 = string2.replace(/['"]+/g, '');
              $('#chat').append('<p>'+string2+'</p>');
            }
          }
        })
        socket.on('clear_out', function(){
          $('#chat').html('');
        })
        $('#button').click(function(){
          if($('#message').val() != ''){
          socket.emit('new_message', {message:window.name + ": "+$('#message').val()});
          $('#message').val('');
          }
        })
        $(document).keypress(function(e){
          if(e.which == 13){
            if($('#message').val() != ''){
            socket.emit('new_message', {message:window.name + ": "+$('#message').val()});
            $('#message').val('');
            }
          }
        })
        socket.on('receive_message', function(data){
          var string = JSON.stringify(data.response);
          string = string.replace(/['"]+/g, '');
          $('#chat').append('<p>'+string+'</p>')
        })
        $('#clear').click(function(){
          socket.emit('clear_messages', {name:window.name});
        })
        socket.on('user_logout', function(data){
          $('#new_user').html('<h4>'+JSON.stringify(data.response)+' just left the chat.</h4>');
          $('#new_user').fadeIn(function(){
            setTimeout(function(){
              $('#new_user').fadeOut();
            }, 2000);
          })
        })
      })
    </script>
  </head>
  <body class='w3-container'>
    <div class="container">
      <h2 class='w3-text'><u>Message Board</u></h2>
      <h4 id="user">

      </h4>
      <div id="new_user">

      </div>
      <div class="w3-container w3-sand w3-leftbar w3-rightbar w3-border-grey w3-round-xlarge" id="chat">

      </div>
      <div id="input">
        <input  class='w3-sand w3-round-medium' name="name" id='message'>
        <button class="w3-btn w3-sand w3-border w3-border-grey w3-round-large w3-padding-large" type='button' name="button" id='clear'>Clear All Messages</button>
        <button class="w3-btn w3-sand w3-border w3-border-grey w3-round-large w3-padding-large" name="button" id='button'>Send</button>
      </div>
    </div>
  </body>
</html>
